@charset "UTF-8";

/* 
columbia-blue: #BBCCD3ff;
--cadet-gray: #92AFBCff;
--cadet-gray-2: #9BB4BFff;
--blue-ncs: #4288B2ff;
--air-superiority-blue: #67A2C7ff;
 */

 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

 }

 body, html{
        background-color: #4288B2ff;
        height: 100vh;
        width: 100vw;
 }

 main{
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;

 }

 section#login > div#imagem {
    display: block;
    background: #67A2C7ff url(imagens/pexels-jan-van-der-wolf-13311961.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    
    height: 200px;
 }

 section#login > div#formulario{
    display: block;
    padding: 10px;

 }